ByteSplitter
numpy==1.24.3
opencv-python-headless==4.8.0.76
pandas==2.1.0
Pillow==9.5
scikit-image==0.22.0
streamlit==1.27.0
ultralytics==8.0.208

#Torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
torchvision==0.12.0+cpu

#Detectron2
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2